@import "tailwindcss";

html, body, #root {
    @apply w-full h-full;
    font-family: 'SacheonUju-Regular';
}

@font-face {
    font-family: 'SacheonUju-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/SacheonUju-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}